<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            border: 1px solid black;
            width: 50%;
            height: 200px;
            text-align: center;
            border-collapse: collapse;
            margin:auto ;
        }

        th, td {
            padding: 12px; 
        }

        th{
            background-color: rgb(4, 126, 69);
            color: white;
        }

        tr{
            border: 1px solid black;
        }

        tr:nth-child(odd):hover{
            background-color: rgb(241, 236, 236);
            border: 1px solid black;
            color: rgb(4, 126, 69);
            font-size: 15px;
        }
    </style>
</head>
<body>

    <table>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Points</th>
            <th>Team</th>
        </tr>

        <tr>
            <td>1</td>
            <td>Domenic</td>
            <td>88,110</td>
            <td>dcode</td>
        </tr>

        <tr> 
            <td>2</td>
            <td>Sally</td>
            <td>72,400</td>
            <td>Students</td>
        </tr>

        <tr>
            <td>3</td>
            <td>Nick</td>
            <td>53,300</td>
            <td>dcode</td>
        </tr>
    </table>

</body>
</html>
