<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .container{
            width: 100%;
            height: 100vh;
            border: 1px solid black;
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            align-content: space-around;
            justify-content: space-between;
        }

        .container > div{
            width: 100px;
            height: 100px;
            border: 1px solid black;
            align-content:center;
            text-align: center;
        }
    </style>
</head>
<body>
    
    <div class="container">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
        <div>9</div>
        <div>10</div>
        <div>11</div>
        <div>12</div>
        <div>13</div>
        <div>14</div>
        <div>15</div>
        <div>16</div>
        <div>17</div>
        <div>18</div>
        <div>19</div>
        <div>20</div>
    </div>

</body>
</html>
