<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Position Boxes</title>

  <style>
    .value1 { 
      position: fixed;   
      width: 100%;
      height: 600px;
      border: 1px solid black;
      margin-top: 20px;
    }

    .box {
      width: 100px;
      height: 100px;
      background: lightblue;
      border: 1px solid black;
      position: absolute;      
      text-align: center;
    }

    .top-left { top: 0; left: 0; }
    .top-right { top: 0; right: 0; }
    .bottom-left { bottom: 0; left: 0; }
    .bottom-right { bottom: 0; right: 0; }

    .middle-row {
      top: 50%;
      left: 220px;
      width: 70%;
      position: fixed;
      display: flex;
    }

    .middle-box {
      width: 100px;
      height: 100px;
      background: lightgreen;
      border: 1px solid black;
      text-align: center;
      padding: 10px;
    }

    .bottom-left
    
  </style>
</head>

<body>

  <div class="value1">

    <div class="box top-left">Top Left</div>
    <div class="box top-right">Top Right</div>
    <div class="box bottom-left">Bottom Left</div>
    <div class="box bottom-right">Bottom Right</div>
   
    <div class="middle-row">
      <div class="middle-box">M1</div>
      <div class="middle-box">M2</div>
      <div class="middle-box">M3</div>
      <div class="middle-box">M4</div>
    </div>

  </div>

</body>
</html>
